{
  "openapi": "3.0.0",
  "info": {
    "description": "Programmatically access our prepayment data and predictive analytics to seamlessly integrate with your own systems and workflow.\n\n# Authentication\nWe use [Bearer Authentication](https://tools.ietf.org/html/rfc6750), and all requests to the API must contain a field named `Authorization` in the request header. The field must contain the access token that was issued to you by Infima. If you do not have an access token and would like to get one, then please contact us at [info@infima.io](mailto:info@infima.io). The server responds with a `401` error if the access token is invalid or missing. See below for an example request.\n\n```bash\ncurl -X GET https://api.infima.io/api/v1/pool/get_all_servicers\n  -H \"Authorization: Bearer <your accesstoken here>\"\n```",
    "title": "Infima API (v1.0)",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.infima.io/"
    }
  ],
  "paths": {
    "/api/v0/market/get_service_info": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/core.BinaryInfo"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "MarketV0"
        ],
        "operationId": "MarketV0_GetServiceInfo"
      }
    },
    "/api/v0/market/get_story_view": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/market.v0.GetStoryViewResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "MarketV0"
        ],
        "operationId": "MarketV0_GetStoryView",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/market.v0.GetStoryViewRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v0/market/get_view": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/market.v0.GetViewResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "MarketV0"
        ],
        "operationId": "MarketV0_GetView",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/market.v0.GetViewRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v0/pricing/get": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricing.v0.GetResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid: all provided cusips may not be valid ones."
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PricingV0"
        ],
        "description": "Fetch pricing predictions as of a date.",
        "operationId": "PricingV0_Get",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pricing.v0.GetRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v0/pricing/get_available_as_ofs": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pricing.v0.GetAvailableAsOfsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid: symbol is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PricingV0"
        ],
        "description": "Available as-of dates of pricing for a symbol.",
        "operationId": "PricingV0_GetAvailableAsOfs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pricing.v0.GetAvailableAsOfsRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v0/pricing/get_service_info": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/core.BinaryInfo"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PricingV0"
        ],
        "operationId": "PricingV0_GetServiceInfo"
      }
    },
    "/api/v0/search/delete_query": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/search.v0.DeleteQueryResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "SearchV0"
        ],
        "operationId": "SearchV0_DeleteQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/search.v0.DeleteQueryRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v0/search/get_all_query_names": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/search.v0.GetAllQueryNamesResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "SearchV0"
        ],
        "operationId": "SearchV0_GetAllQueryNames"
      }
    },
    "/api/v0/search/get_query": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/search.v0.GetQueryResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "SearchV0"
        ],
        "operationId": "SearchV0_GetQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/search.v0.GetQueryRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v0/search/get_service_info": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/core.BinaryInfo"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "SearchV0"
        ],
        "operationId": "SearchV0_GetServiceInfo"
      }
    },
    "/api/v0/search/save_query": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/search.v0.SaveQueryResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "SearchV0"
        ],
        "operationId": "SearchV0_SaveQuery",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/search.v0.SaveQueryRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v0/search/search_pools": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/search.v0.SearchPoolsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid."
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "SearchV0"
        ],
        "description": "Search for pools within a cohort universe.",
        "operationId": "SearchV0_SearchPools",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/search.v0.SearchPoolsRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/bulk/predictions/get_available_as_ofs": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/prediction.v1.GetAvailableAsOfsBulkResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "408": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request times out"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PredictionV1",
          "PredictionExposed"
        ],
        "description": "Get the available dates for which we have published predictions.\nThis will return all the as-of dates along with their last published timestamps.\n",
        "operationId": "PredictionV1_GetAvailableAsOfsBulk",
        "summary": "Get all the available as-of dates.",
        "x-codeSamples": [
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\naccesstoken = \"YOUR ACCESS TOKEN HERE\"\nurl = \"https://api.infima.io/api/v1/bulk/predictions/get_available_as_ofs\"\nheaders = { \"Authorization\": \"Bearer \" + accesstoken }\nresponse = requests.get(url, headers = headers)\nprint(response.text)\n"
          },
          {
            "label": "Node",
            "lang": "Javascript",
            "source": "const axios = require('axios')\nconst accesstoken = 'YOUR ACCESS TOKEN HERE'\naxios({\n  method: 'GET',\n  url: 'https://api.infima.io/api/v1/bulk/predictions/get_available_as_ofs',\n  headers: { Authorization: `Bearer ${accesstoken}` }\n})\n.catch(error => console.error(error.stack))\n.then(response => console.log(JSON.stringify(response.data, null, '  ')))\n"
          },
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "ACCESS_TOKEN='YOUR ACCESS TOKEN HERE'\ncurl --location -g \\\n  --request GET 'https://api.infima.io/api/v1/bulk/predictions/get_available_as_ofs' \\\n  --header \"Authorization: Bearer $ACCESS_TOKEN\"\n"
          }
        ]
      }
    },
    "/api/v1/bulk/predictions/get_csv_file": {
      "get": {
        "parameters": [
          {
            "description": "As-of date. Prediction as-of date\n* A valid request should have the as-of date in the format of YYYY-MM-DD\n* In case the as-of date is not specified, the system takes the latest as-of date.",
            "in": "query",
            "name": "as_of",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/prediction.v1.GetCSVFileResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 3,
                      "details": [],
                      "message": "as_of date invalid"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the provided request is invalid: invalid as of date"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "408": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request times out"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PredictionV1",
          "PredictionExposed"
        ],
        "description": "Get the predictions for a given as-of date served as a CSV file URL.\n\nThe response will contain a pre-signed URL pointing to a gzip-compressed\npredictions CSV file with the following schema:\n\n| field | data type | description |\n| ----- | ----------| ----------- |\n| symbol | string | CUSIP or cohort name |\n| smm | double | Predicted single month mortality |\n| cpr | double | Predicted conditional prepayment rate |\n| period | date | The month which is being predicted |\n",
        "operationId": "PredictionV1_GetCSVFile",
        "summary": "Retrieve predictions CSV file",
        "x-codeSamples": [
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\naccesstoken = \"YOUR ACCESS TOKEN HERE\"\nurl = \"https://api.infima.io/api/v1/bulk/predictions/get_csv_file\"\nheaders = { \"Authorization\": \"Bearer \" + accesstoken }\nparams = {\n  \"as_of\": \"2022-01-01\"\n}\nresponse = requests.get(url, headers = headers, params = params)\nprint(response.text)\n"
          },
          {
            "label": "Node",
            "lang": "Javascript",
            "source": "const axios = require('axios')\nconst accesstoken = 'YOUR ACCESS TOKEN HERE'\naxios({\n  method: 'GET',\n  url: 'https://api.infima.io/api/v1/bulk/predictions/get_csv_file',\n  headers: { Authorization: `Bearer ${accesstoken}` },\n  params: {\n    as_of: \"2022-01-01\"\n  }\n})\n.catch(error => console.error(error.stack))\n.then(response => console.log(JSON.stringify(response.data, null, '  ')))\n"
          },
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "ACCESS_TOKEN='YOUR ACCESS TOKEN HERE'\ncurl --location -g \\\n  --request GET 'https://api.infima.io/api/v1/bulk/predictions/get_csv_file?as_of=2022-01-01' \\\n  --header \"Authorization: Bearer $ACCESS_TOKEN\"\n"
          }
        ]
      }
    },
    "/api/v1/bulk/predictions/get_recent_updates": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/prediction.v1.GetRecentUpdatesBulkResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Returned when the resource does not exist."
          },
          "408": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request times out"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PredictionV1",
          "PredictionExposed"
        ],
        "description": "Fetches every prediction publication the last 14 days. This includes any\ncorrections made to as-of dates older than 14 days.\n",
        "operationId": "PredictionV1_GetRecentUpdatesBulk",
        "summary": "Get the most recent prediction updates in the last 14 days.",
        "x-codeSamples": [
          {
            "label": "Python",
            "lang": "Python",
            "source": "import requests\naccesstoken = \"YOUR ACCESS TOKEN HERE\"\nurl = \"https://api.infima.io/api/v1/bulk/predictions/get_recent_updates\"\nheaders = { \"Authorization\": \"Bearer \" + accesstoken }\nresponse = requests.get(url, headers = headers)\nprint(response.text)\n"
          },
          {
            "label": "Node",
            "lang": "Javascript",
            "source": "const axios = require('axios')\nconst accesstoken = 'YOUR ACCESS TOKEN HERE'\naxios({\n  method: 'GET',\n  url: 'https://api.infima.io/api/v1/bulk/predictions/get_recent_updates',\n  headers: { Authorization: `Bearer ${accesstoken}` }\n})\n.catch(error => console.error(error.stack))\n.then(response => console.log(JSON.stringify(response.data, null, '  ')))\n"
          },
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "ACCESS_TOKEN='YOUR ACCESS TOKEN HERE'\ncurl --location -g \\\n  --request GET 'https://api.infima.io/api/v1/bulk/predictions/get_recent_updates' \\\n  --header \"Authorization: Bearer $ACCESS_TOKEN\" -vvvvv\n"
          }
        ]
      }
    },
    "/api/v1/cohort/check_coverage": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cohort.v1.CheckCoverageResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "CohortV1"
        ],
        "operationId": "CohortV1_CheckCoverage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cohort.v1.CheckCoverageRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/cohort/check_exists": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cohort.v1.CheckExistsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "CohortV1"
        ],
        "operationId": "CohortV1_CheckExists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cohort.v1.CheckExistsRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/cohort/find": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cohort.v1.FindResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "CohortV1"
        ],
        "operationId": "CohortV1_Find",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cohort.v1.FindRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/cohort/get_actual_prepayments": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cohort.v1.GetActualPrepaymentsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "CohortV1"
        ],
        "operationId": "CohortV1_GetActualPrepayments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cohort.v1.GetActualPrepaymentsRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/cohort/get_cohort_summary": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cohort.v1.GetCohortSummaryResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "CohortV1"
        ],
        "operationId": "CohortV1_GetCohortSummary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cohort.v1.GetCohortSummaryRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/cohort/get_covered_cohort": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cohort.v1.GetCoveredCohortsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "CohortV1"
        ],
        "operationId": "CohortV1_GetCoveredCohorts"
      }
    },
    "/api/v1/cohort/get_member_lists": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cohort.v1.GetMemberListsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "CohortV1"
        ],
        "operationId": "CohortV1_GetMemberLists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cohort.v1.GetMemberListsRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/cohort/get_member_pools": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cohort.v1.GetMemberPoolsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "CohortV1"
        ],
        "operationId": "CohortV1_GetMemberPools",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cohort.v1.GetMemberPoolsRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/cohort/get_pool_memberships": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cohort.v1.GetPoolMembershipsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "CohortV1"
        ],
        "operationId": "CohortV1_GetPoolMemberships",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cohort.v1.GetPoolMembershipsRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/cohort/get_service_info": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/core.BinaryInfo"
                }
              }
            },
            "description": "A successful response."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "CohortV1"
        ],
        "operationId": "CohortV1_GetServiceInfo"
      }
    },
    "/api/v1/pool/check_coverage": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.CheckCoverageResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_CheckCoverage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pool.v1.CheckCoverageRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/pool/find": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.FindResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_Find",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pool.v1.FindRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/pool/get": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_Get",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pool.v1.GetRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/pool/get_actual_prepayments": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetActualPrepaymentsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_GetActualPrepayments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pool.v1.GetActualPrepaymentsRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/pool/get_all_servicers": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetAllServicersResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_GetAllServicers"
      }
    },
    "/api/v1/pool/get_characteristics": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetCharacteristicsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_GetCharacteristics",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pool.v1.GetCharacteristicsRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/pool/get_current_factor_date": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetCurrentFactorDateResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_GetCurrentFactorDate"
      }
    },
    "/api/v1/pool/get_cusip_from_pool_number": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetCusipFromPoolNumberResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_GetCusipFromPoolNumber",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pool.v1.GetCusipFromPoolNumberRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/pool/get_general_distributions": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetGeneralDistributionsResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_GetGeneralDistributions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pool.v1.GetGeneralDistributionsRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/pool/get_geographic_distribution": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetGeographicDistributionResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_GetGeographicDistribution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pool.v1.GetGeographicDistributionRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/pool/get_quartiles": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetQuartilesResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_GetQuartiles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pool.v1.GetQuartilesRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/pool/get_service_info": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/core.BinaryInfo"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_GetServiceInfo"
      }
    },
    "/api/v1/pool/get_servicers": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetServicersResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 500,
                      "details": [],
                      "message": "error message"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Something wrong happened"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "tags": [
          "PoolV1"
        ],
        "operationId": "PoolV1_GetServicers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pool.v1.GetServicersRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v1/pool/get_summary": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pool.v1.GetSummaryResponse"
                }
              }
            },
            "description": "A successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "error code",
                      "details": null,
                      "message": "invalid request"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request is invalid"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": 401,
                      "details": null,
                      "message": "not authorized"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "When the request not authorized"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "code": "PAGE_NOT_FOUND",
                      "details": null,
                      "message": "url not found <URL>"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/google.rpc.Status"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
[...]
